@page
@model CIM.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page="/Devices/Create" id="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Device.Name" class="control-label"></label>
                <input asp-for="Device.Name" class="form-control" />
                <span asp-validation-for="Device.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.ServiceTag" class="control-label"></label>
                <input asp-for="Device.ServiceTag" class="form-control" />
                <span asp-validation-for="Device.ServiceTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.OU" class="control-label"></label>
                <input asp-for="Device.OU" class="form-control" />
                <span asp-validation-for="Device.OU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.PU" class="control-label"></label>
                <input asp-for="Device.PU" class="form-control" />
                <span asp-validation-for="Device.PU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.Status" class="control-label"></label><br />
                @foreach (var type in Model.statusTypes)
                {
                    <input type="radio" asp-for="Device.Status" value="@type"/>@type<br />
                }
            </div>
            <div class="form-group">
                <button type="submit" form="create-form" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
