html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Myriad W01 Regular';
}

table {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

td, th {
    vertical-align: middle;
    width: 25%;
}

#issues td, th {
    vertical-align: middle;
    width: 20%;
}

tr:hover td:not(#deviceDetails, .delete-column){
        background-color: #c2e189 !important;
    }
table tr:nth-of-type(even) {
    background-color: #C3D0DB;
}

table tr:nth-of-type(odd) {
    background-color: #fff;
}
th{
    text-align: center;
    background-color: #789d4a;
    color: white;
}
.body {
    height: 100px;
    overflow: auto
}

a {
    text-decoration: none;
}

a:hover:not(#deviceDetails){
    text-decoration: underline;
}

#index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100% !important;
}



.input-group {
    width: 40%;
}

#deviceSearch {
    background: url(/fontawesome/svgs/solid/search.svg) no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    left: -30px;
}

#index-header input[type="text"] {
  margin: 0 0 0 60px;
  height: 30px;
}

.delete-column {
    width: 1%;
}

#deviceDetails {
    float: left;
    width: 50%;
}

#deviceDetails th {
    width: 8%;
    text-align: left;
}

#deviceDetails td {
    text-align: left;
}

#imageChecklist {
    height: 190px ;
    float: right;
}

#details h4:first-of-type {
    float: left;
}

#details h4:last-of-type {
    float: right;
}