html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Myriad W01 Regular';
}

#inventory table, th, td{
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#inventory td, th {
    vertical-align: middle;
    width: 25%;
}

#inventory tr:hover td{
        background-color: #c2e189;
    }
#inventory tr:nth-child(even){
    background-color: #C3D0DB;
}
#inventory th{
    text-align: center;
    background-color: #789d4a;
    color: white;
}
.body {
    height: 100px;
    overflow: auto
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}