@page
@model IndexModel
@{
    ViewData["Title"] = "CIM";
}

<div class="text-center">
    <h1 class="">CIM</h1>
    <form method="post">
        <label for="Device">Enter/Scan Device Service Tag:</label>
        <input type="text" name="Device">
        <button type="submit">Search</button>
    </form>
</div>

