<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CIM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CIM.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light" style="background-color: rgba(120,157,74,0.7); border-bottom: 5px solid rgba(120,157,74,0.9);">
            <div class="container">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand" href="http://chas/"><img src="/css/logo.png" alt="logo" style="height: 40px;"></a>
                    <a class="navbar-brand me-1" asp-area="" asp-page="/Index" style="color: rgb(151,27,47);">Home</a>
                    <span class="me-1">|</span>
                    <a class="navbar-brand me-1" asp-area="" asp-page="/Devices/Create" style="color: rgb(151,27,47);">Add New Device</a>
                    <span class="me-1">|</span>
                    <a class="navbar-brand me-1" asp-area="" asp-page="/Devices/Deleted" style="color: rgb(151,27,47);">Deleted Devices</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            @RenderBody()
        </main>
    </div>
    <script src="https://kit.fontawesome.com/68f646c941.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>