@page
@model CIM.Pages.CreateModel
@{
    ViewData["Title"] = "Add Machine";
}

<h1>Add New Machine</h1>
<form>
    <label for="fname">Enter Device Name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="fname2">Enter Service Tag:</label><br>
    <input type="text" id="fname" name="fname2"><br>
    <input type="button" value="Cancel">
    <input type="button" value="Create">
</form>
