@page "{name}"

@using System;
@using System.Collections.Generic;
@using System.Reflection;
@using System.Text;

@model CIM.Pages.DetailsModel
@{
    ViewData["Title"] = RouteData.Values["deviceName"];
}

<h1>@RouteData.Values["deviceName"]</h1>

<div>
    <table id="details">
        @{
            foreach (PropertyInfo property in Model.PropertiesList)
            {
                if (property.Name != "Id")
                {
                    <tr>
                        <th>@property.Name</th>
                    </tr>
                    <tr>
                        <td>@property.GetValue(Model.Device, null)</td>
                    </tr>
                }
                
            }
        }
    </table>
</div>
<div>
    
    <a asp-page="./Inventory">Back to List</a>
</div>