@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="">CIM</h1>
    <form>
        <label for="fname">Enter/Scan Device Service Tag:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <input type="submit" value="Search">
    </form>
</div>
