@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="">CIM</h1>
    <form method="post">
        <label for="fname">Enter/Scan Device Service Tag:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <button>Search</button>
    </form>
</div>

