@page
@model CIM.Pages.InventoryModel
@{
    ViewData["Title"] = "Inventory List";
}
<h1>Deployable Devices</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Service Tag</th>
    </tr>
    <tr>
        <td>list of devices</td>
        <td>list of devices</td>
    </tr>
</table>

<h1>Devices Needing Imaged</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Service Tag</th>
    </tr>
    <tr>
        <td>list of devices</td>
        <td>list of devices</td>
    </tr>
</table>

<h1>Devices in Dell Repair</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Service Tag</th>
    </tr>
    <tr>
        <td>list of devices</td>
        <td>list of devices</td>
    </tr>
</table>

<h1>Deployed Devices</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Service Tag</th>
    </tr>
    <tr>
        <td>list of devices</td>
        <td>list of devices</td>
    </tr>
</table>